<!DOCTYPE html>
<html>
<head>
  <title>Kazipal Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <h1 class="text-center mb-4">Welcome to Kazipal Task Board</h1>
    <div class="text-center">
      <a href="/login" class="btn btn-success mx-2">Login</a>
      <a href="/post-task" class="btn btn-primary mx-2">Post a Task</a>
    </div>
  </div>
</body>
</html>
